@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('Open_Sans/OpenSans-Bold.ttf')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('Open_Sans/OpenSans-Regular.ttf')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: url('Open_Sans/OpenSans-Light.ttf')
}
